* {
  box-sizing: border-box;
}


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

body{
    background: url(./Assets/Broly.jpg);
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: cover;
    overflow: auto;
  }
  
h1.Title{
  font-size: 3em;
  color: aliceblue;
  padding: 15px;
  margin-top: 10px;
  font-family: monospace;   
}

h1.Title{
  text-align: center;
}

h2.Title{
  font-size: 1.5em;
  color: aliceblue;
  padding: 15px;
  font-family: monospace;  
  float: right;
}

h2.Title1{
  font-size: 1.5em;
  color: aliceblue;
  margin-left: -1000px;
  padding: 20px;
  font-family: monospace;  
}

h2{
  font-size: 3em;
  color: aliceblue;
  padding: 10px;
  margin-top: 40px;
  text-align: center;
  font-family: monospace;
}

h3{

  margin-top: -20px;
  font-size: 1.5em;
  margin-left: 30px;
  color: aliceblue;
  text-align: center;
  font-family: monospace;
}

h4{
  font-size: 1.5em;
  text-align: center;
  color: aliceblue;
  font-family: monospace;
}

p{
  font-size: 1.3em;
  margin-bottom: 40px;
  text-align: center;
  color: aliceblue;
  font-family: monospace;
}

/*--------------Navbar Content--------------*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #111;  
}
  
.navbar li {
  float: left;
  font-size: 150%;
  font-family: monospace;
} 
  
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 60px;
  text-decoration: none;
}
  
.navbar li a:hover {
  background-color: gray;
}
  
.navbar{
  display: flex;
  justify-content: center;
  background-color: #111;
  border-radius: 20%;
  margin-top: 40px;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 235px;
  z-index: 1;
}

.navbar .dropdown-content a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: monospace;
  width: 235px;
}

.navbar .dropdown-content a:hover {
  background-color: #48008c;
  width: 235px;
  padding: 12px 12px;
  border-top: 0.5px double;
  border-bottom: 0.5px double;
  border-left: 0.5px double;
  border-right: 0.5px double;
  border-radius: 0;
}

.navbar .projects:hover .dropdown-content {
  display: block;
}

.wrapper{
  font-family: fantasy;
  position: relative;
}

.hovertext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 150%;
  font-family: fantasy;
  color: aliceblue;
}

.overlay{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: black;
  opacity: 0;
  transition: .65s ease;
  position: absolute;

}

.wrapper:hover .overlay{
  opacity: .9;
  text-align: center;
}


.row {
  margin: 8px -8px;
}


.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 15px;
}


#idLinkedInIcon {
  
  background-color:rgb(0, 102, 170);
  border-radius:6px;
  color:white;
  cursor:pointer;
  display:block;
  font:bold 35px Arial, Helvetica, sans-serif;
  height:40px;
  margin-top:1px;
  text-align:center;
  width:40px;
  margin-left: auto;
  margin-right: auto;
}

#idLinkedInIcon:hover {

  background-color:#06d;

}

#idLinkedInIcon a{
  color:white;
}

footer {

  margin-top: 30px;
  border-radius: 20%;

}